[Unit]
Description=Kackplaner Temperature Alert Webhook

[Service]
Type=oneshot
User=user
Group=user
EnvironmentFile=/opt/kackplaner.env
ExecStart=/usr/bin/python3 /opt/kackplaner/notifier/temp.notify.py
